<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @usuario.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @usuario.last_name %>
</p>

<%= link_to 'Edit', edit_usuario_path(@usuario) %> |
<%= link_to 'Back', usuarios_path %>
